<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="Logs/nlog-internal.log"
      >

  <extensions>
    <add assembly="LogModule" />
  </extensions>

  <variable name="LogDir" value="${basedir}/Logs"></variable>
  <variable name="FALogDir" value="${basedir}/FALogs"></variable>

  <targets async="true">
    <target name="logInfofile" xsi:type="File"
            fileName="${var:LogDir}/${shortdate}_Info.log"
            archiveEvery="Wednesday"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            maxArchiveFiles="60"
            keepFileOpen="true"
            createDirs="true"
            layout="${longdate} - ${level}| ${LogMessageModel:MessageCode} | ${LogMessageModel:Message} | ${callsite:fileName=true:skipFrames =1}"
            />
    <target name="logFAInfofile" xsi:type="File"
            fileName="${var:FALogDir}/${shortdate}_FAInfo.log"
            archiveEvery="Wednesday"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            maxArchiveFiles="60"
            keepFileOpen="true"
            createDirs="true"
            layout="${longdate} - ${level}| ${LogMessageModel:MessageCode} | ${LogMessageModel:Message} | ${callsite:fileName=true:skipFrames =1}"
            />
    <target name="logErrorfile" xsi:type="File"
            fileName="${var:LogDir}/${shortdate}_Error.log"
            archiveEvery="Wednesday"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            maxArchiveFiles="60"
            keepFileOpen="true"
            createDirs="true"
            layout="${longdate} - ${level} | ${LogMessageModel:MessageCode} | ${LogMessageModel:Message} | threadid:${threadid} | ${callsite:fileName=true:skipFrames = 1} | StackTrace: ${LogMessageModel:Exception}"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logInfofile">
      <filters defaultAction="Log">
        <!-- 排除所有包含FA的 -->
        <when condition="contains('${LogMessageModel:MessageCode}', 'FA')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Warn" writeTo="logErrorfile"/>
    <logger name="*" minlevel="Info" writeTo="logFAInfofile">
      <filters>
        <!-- FA数据消息 -->
        <when condition="contains('${LogMessageModel:MessageCode}', 'FA')" action="Log" />
      </filters>
    </logger>
  </rules>

</nlog>
